* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
--color-red: #e51910;
--color-white: #ffffff;
--color-light-gray: #f5f6fc;
--color-dark-gray: #333333;
}

.scotiabank{
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.cajero{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}


p{
    font-size: 19px;
}

.pantalla1 {
    justify-content: center;
    width: 1080px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-red);
    padding: 25px;
    text-align: center;
    color: var(--color-white);
    position: absolute;
   
}

a{
    text-decoration: none;
}

.isotipo{
    padding-top: 100px;
}

.logo{
    display: flex;
    padding-top: 25px;
    width: 280px;
}
.pantalla2 {
    width: 1080px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-white);
    padding: 25px;
    text-align: center;
    color: var(--color-dark-gray);
    display: none;

}

.pantalla2 h1{
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 40px;
}

.pantalla2 input{
    margin: 35px 0px 15px 0px;
    border-style: none;
    text-align: center;
    font-size: 20px;
    border: 1px solid var(--color-dark-gray);
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
}

.pantalla3, .pantalla4, .pantalla5, .pantalla6, .pantalla7 {
    width: 1080px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-white);
    text-align: center;
    display: none;   
}

.header{
    background-color: var(--color-red);
    height: 150px;
    width: 100%;
    padding: 25px;
    margin-bottom: 40px;
    position: relative;
}


.blanco{
    background-color: var(--color-white);
    border-style: none;
    color: var(--color-red);
    margin-top: 25px;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 550;
}

.rojo{
    background-color: var(--color-red);
    border-style: none;
    color: var(--color-white);
    margin-top: 25px;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 550;
}





.operaciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    height: 280px;
    padding: 0px 80px 20px 80px;
    color: var(--color-dark-gray);
}

.pantalla3 h1 {
    color: var(--color-dark-gray);
    font-size: 28px;
    margin-bottom: 40px;
  
}

.iconos{
    height: 100px;
    margin-top: 20px;
}


.saldo, .ingresar, .retirar{
   
    background-color: var(--color-light-gray);
    color:var(--color-dark-gray);
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    padding-top: 40px;
    height: 100%;
}

section{
    box-shadow: 0px 2px 5px rgba(41, 40, 40, 0.4);
}

.operaciones2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    padding: 0px 80px 0px 80px;
    height: 100px;
}

.transferir{
    background-color: var(--color-light-gray);
    color:var(--color-dark-gray);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    
}

.salir{
    
    background-color: var(--color-red);
    border-style: none;
    color: var(--color-white);
    position: absolute;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 550;
    border: 1px solid var(--color-white);
    top: 0;
    right: 0;
    margin-right: 35px;
    margin-top: 45px;
    
}

.pantalla4 h1, .pantalla7 h1{
    margin-top: 110px;
    margin-bottom: 25px;
    color: var(--color-dark-gray);
}

.cuenta{
    color: #9b9b9b;
    margin-bottom: 30px;
}

.monto{
    font-size:50px;
    color: var(--color-dark-gray);

}
.soles{
        font-size:50px;
    color: var(--color-red);

}

.montos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0px 80px 0px 80px;
}

.retiro-monto{
    background-color: var(--color-light-gray);
    color:var(--color-dark-gray);
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    padding-top: 28px;
    height: 90px;
}

.pantalla5 h1, .pantalla7 h1{
    margin-top: 130px;
    margin-bottom: 30px;
    color: var(--color-dark-gray);
}

.campo-monto{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid var(--color-dark-gray); 
    padding-bottom: 2px; 
    width: 300px;
    margin-bottom: 20px;
}

.pantalla5 input, .pantalla7 input{
    font-size:50px;
    color: var(--color-dark-gray);
    border: none;
    text-align: center;
    outline: none;
    flex-grow: 1; 
    min-width: 100px;
    max-width: 200px;
}

.pantalla6 h1{
    font-size:28px;
    color: var(--color-dark-gray);

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212; /* Un gris muy oscuro */
        
    }
}